<h1>Books#index</h1>

<ul>
  <% if @books %>
    <ul>
      <% @books.each do |book| %>
        <li>name : <%= book.name %></li>
        <li>description : <%= book.description %></li>
        <li>release : <%= book.release %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No books found</p>
  <% end %>
</ul>

<a href="<%= new_book_path %>">
    <p>create new book</p>
</a>
